.player {
  position: absolute;
  z-index: 10;

}

@keyframes playerFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2px);
  }
}

.player-sprite {
  width: 16px;
  height: 16px;
  transition: none;
  background-image: url("../images/characters.png");
  animation: playerFloat 0.8s linear infinite alternate-reverse;
}

.player-shadow {
  width: 16px;
  height: 9px;
  background-image: url("../images/shadow.png");
  background-position: 0px -23px;
}


#range {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -44px;
  top: -44px;
}

.player-range {
  border: 2px solid blue;
}

.player-trajectory {
  position: relative;
  height: 10px;
  background-color: red;
  z-index: 5;
  display: none;
}
.display {
  display: block;
}